<p>Desde hace unos días, por cambios en el trabajo, vuelvo a pertenecer al equipo tupper. De vuelta a comer platos que al cocinarlos tienen una pinta súper apetecible, pero que al abrir la tartera al día siguiente tienen una aspecto más que cuestionable, ¿os suena? :)

Además, no sé a vosotros, pero a mí me aburre mortalmente comer siempre lo mismo y, con la dichosa fiambrera, a veces cuesta no optar por la solución rápida de preparar pasta o arroz para poder sentarse en el sofá lo antes posible.


Read more at http://www.conextradequeso.com/2015/04/28/huevos-a-la-castellana/#ZShwTrMrRpEXCAuj.99
</p>